{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-5">
		<h1>Mon compte</h1>
		<div class="row mt-4">
			<div class="col-md-3">
				{%  include 'account/_userMenu.html.twig' %}
			</div>

			<div class="col-md-9">
				<h5>Mes commandes</h5>
				{% if orders|length == 0 %}
					<div class="bg-raduis-ligth-blue p-3 mt-3 text-center">
						<p>Vous n'avez passé aucune commande pour le moment.</p>
					</div>
				{% else %}
					<table class="table">
						<thead>
							<tr>
								<th scope="col">N°</th>
								<th scope="col">Date</th>
								<th scope="col">Statut</th>
								<th scope="col">Total TTC</th>

								<th scope="col">bouton</th>
							</tr>
						</thead>
						<tbody>
							{% for order in orders %}
								<tr>
									<td>{{order.id}}</td>
									<td>{{order.createdAt|date('d/m/Y')}}</td>
									<td>{{ include("admin/state.html.twig", { field : {'value' : order.state}}) }}</td>
									<td>{{order.getTotalWt|price}}</td>
									<td>
										<a href="{{path('app_account_order', {'id_order' : order.id})}}">voir</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
