{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-5">
		<h1>Mon compte</h1>
		<div class="row mt-4">
			<div class="col-md-3">
				{%  include 'account/_userMenu.html.twig' %}
			</div>
			<div class="col-md-9">
				<h5>Ajouter une adresse</h5>
				{# Créer un formulaire avec la méthode form() et injecter le parametre form du RegisterAdminController #}
				{{form_start(adressForm)}}
				<div class="row">
					<div class="col-md-6">{{form_row(adressForm.firstname)}}</div>
					<div class="col-md-6">{{form_row(adressForm.lastname)}}</div>
					<div class="col-md-6">{{form_row(adressForm.adress)}}</div>
					<div class="col-md-6">{{form_row(adressForm.postal)}}</div>
					<div class="col-md-6">{{form_row(adressForm.city)}}</div>
					<div class="col-md-6">{{form_row(adressForm.country)}}</div>
					<div class="col-md-6">{{form_row(adressForm.phone)}}</div>
				</div>
				{{form_end(adressForm)}}
			</div>
		</div>
	</div>
{% endblock %}
