{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-5">
		<h1>Mon compte</h1>
		<div class="row mt-4">
			<div class="col-md-3">
				{%  include 'account/_userMenu.html.twig' %}
			</div>
			<div class="col-md-9">
				<div class="d-flex justify-content-between">
					<h5>Mes adresses</h5>
					<a class="btn btn-primary" href="{{ path('app_account_adress_form') }}">Ajouter une nouvelle adresse ></a>
				</div>
				{% if app.user.adresses|length == 0 %}
					<div class="bg-raduis-ligth-blue p-3 mt-3 text-center">
						<p>Vous n'avez pas encore renseigné d'adresse.</p>
					</div>
				{% else %}
					<div class="row mt-3">
						{% for adress in app.user.adresses %}
							<div class="col-md-4 mb-3">
								<div class="bg-raduis-ligth-blue p-3">
									<strong>{{adress.firstname}}
										{{adress.lastname}}</strong><br/>
									{{adress.phone}}<br/>
									{{adress.adress}}<br/>
									{{adress.postal}},
									{{adress.city}}<br/>
									{{adress.country}}<br/>
									<div class="d-flex justify-content-between">
										<a href="{{ path('app_account_adress_form', {'id': adress.id}) }}">
											<i class="bi bi-pen-fill"></i>
										</a>
										<!-- open deleModal -->
										<a href="" data-bs-toggle="modal" data-bs-target="#deleModal">
											<i style="color: red;" class="bi bi-trash2-fill"></i>
										</a>
										<!-- deleModal -->
										<div class="modal fade" id="deleModal" tabindex="-1" aria-labelledby="deleModal" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">Supprimer cette adresse?</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-footer">
														<a href="" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</a>
														<a class="btn btn-danger" href="{{ path('app_account_adress_delete', {'id': adress.id}) }}">supprimer</a>
													</div>
												</div>
											</div>
										</div>
										<!-- end deleModal -->
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>


{% endblock %}
