{% extends 'base.html.twig' %}

{% block body %}
	<section class="py-5">
		<div class="container">
			<div class="row gx-5">
				<aside class="col-lg-6">
					<div style="overflow: hidden;" class="border rounded-4 mb-3 d-flex justify-content-center">
						<img class="img-fluid" src="/uploads/{{ product.illustration }}" alt="{{ product.name }}"/>
					</div>
				</aside>
				<main class="col-lg-6">
					<div class="ps-lg-3">
						<small>
							<a href="{{ path('app_category', {'slug': product.category.slug}) }}">{{ product.category.name }}</a>
							>
							{{ product.name }}</samll>
						<h4 class="title text-dark">{{ product.name }}</h4>
						<div class="d-flex flex-row my-3">
							<span class="text-success">En stock</span>
						</div>

						<div class="mb-3">
							<p>{{ product.priceWt|price }}</p>
						</div>

						<p>{{ product.description|raw }}</p>

						<hr/>
						<a href="{{ path('app_cart_add', {'id': product.id}) }}" class="btn btn-primary shadow-0">
							<i class="bi bi-bag-fill"></i>
							Ajouter au panier</a>
					</main>
				</div>
			</div>
		</section>
	{% endblock %}
